extends invalid
block content
    h1 Sorry, the activation link is no longer valid.
    h4 Please register anew or use either your Google or Facebook account to log in.
block button
    button.btn-lg.btn-primary(formaction="/diners/account") Continue to the account page

