extends invalid
block content
    div(style="max-width:350px; left:0; right:0; margin:auto")
        h1 Click the button below to print
        button.btn.btn-primary.btn-lg(onclick="javascript:window.print()") Print

    script.
