extends invalid
block content
    div(style="max-width:350px; left:0; right:0; margin:auto")
        h1 Enter your new password below
        form(id="pwdForm" action="#{new_password_route}" method="post")
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(required name="password", pattern="^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)(.{6,18})$", type='password', placeholder='New password')
            input(hidden name="_csrf" value="#{csrfToken}")                             
            input(hidden name="username" value="#{username}")
          button.btn.btn-primary.btn-lg(type='submit') Submit

    script.
        $(document).ready(function() {
                var x = $('#exampleInputPassword1');
                x[0].setCustomValidity('Password must contain at least one letter and one digit, and be 6-18 characters long.');
        });
