.check {
    min-width: 100px;
    min-height: 300px;
    height: 92%;
    color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

.check-body {
    text-align: left;
    background-color: rgb(217,241,225);
}
.check-footer {
    height: 100%;
}

table, tr, td, tfoot {
    border: 1px solid lightblue;
    border-collapse: collapse;
}

.details-table {
    text-align: center;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.4rem;
}

.serial-number {
    font-size: 2.4em;
    color: red;
    font-family: "Courier New", Courier, monospace;
}

.handwriting {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8em;
    font-stretch:condensed;
    color:rgb(50,50,50);
    width: 100%;
}

.stam {
    font-size: 0.37em;
    text-align: center;
    width: 100%;
}


table {
    position: relative;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

td {
    display:table-cell;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-height: 25px;
    min-height: 25px;
    height: 25px;
    vertical-align:middle;
}

table td > div {
    overflow: visible;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 22px;
}

    tfoot td {
        border: none;
        outline: none;
    }

        tfoot td:nth-child(1) {
            text-align: right;
            font-family: 'Times New Roman', Times, serif;
            font-size: 0.8rem;
            font-weight: bold;
            color: lightblue;
        }

td:nth-child(2n+1) {
    text-align: center;
    overflow: visible;
}

tfoot td:nth-child(2) {
    text-align: center;
    overflow: visible;
}
